@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans SC", sans-serif;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

@layer components {
  .vertical-center {
    height: calc(100vh - 118px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
